// COMMON VARS
$font-text: 'Verdana', sans-serif;
$font-extra: 'Roboto', 'Verdana', 'Verdana', sans-serif;

$color-body: #fff;
$color-text: #fff;
$color-box: #323232;

$img: "/images/";

// Grid media breakpoints 
$grid-xs: 0;
$grid-md: 768px; 
$grid-xl: 1200px;